<h1>Curso de Angular 13</h1>
<!-- <app-cmp01-data-binding></app-cmp01-data-binding> -->
<!-- <app-cmp02-variables-de-plantilla></app-cmp02-variables-de-plantilla> -->
<!-- <app-cmp03-input-y-output></app-cmp03-input-y-output> -->
<!-- <app-cmp04-directivas></app-cmp04-directivas> -->
<!-- <app-cmp05-pipes></app-cmp05-pipes> -->
<!-- <app-cmp06-formularios></app-cmp06-formularios> -->
<!-- <app-cmp07-servicios></app-cmp07-servicios> -->
<!-- <app-cmp08-observables></app-cmp08-observables> -->
<!-- <app-cmp09-http></app-cmp09-http> -->

<ng-container *ngIf="isLoggedIn; else btnLogin">
  <button type="button" (click)="logout()">Logout</button>

  <!-- <app-cmp10-autenticacion></app-cmp10-autenticacion> -->
</ng-container>

<ng-template #btnLogin>

  <form (ngSubmit)="login()" [formGroup]="formLogin">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="formLogin.invalid || disabledLoginBtn">Login</button>
  </form>

</ng-template>


<app-cmp11-routing></app-cmp11-routing>